<app-proweb-accordion>
  <app-proweb-accordion-item label="item1" opened="true">Esto es la primera prueba</app-proweb-accordion-item>
  <app-proweb-accordion-item label="item2" opened="false">Esto es la primera prueba 2</app-proweb-accordion-item>
  <app-proweb-accordion-item label="item3" opened="true">Esto es la primera prueba 3</app-proweb-accordion-item>
  <app-proweb-accordion-item label="item4" opened="false">Esto es la primera prueba 4</app-proweb-accordion-item>
</app-proweb-accordion>

